__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
vsec/
env/

.pytest_cache/

*.egg-info/
build/
dist/

.env
.streamlit/secrets.toml

data/*
!data/.gitkeep

models/*
!models/.gitkeep

outputs/*
!outputs/.gitkeep

*.log

.DS_Store